@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --footer-bg: #0C3435;
  --bg-light: #F5F5F5;
  --bg-dark: #E1EAE7;
  --paragraph: #6C6B6B;
  --copyright-bg: #082727;
  --copyright-text: #F5F5F5;
}

.dark-mode {
  --footer-bg: #E1EAE7;
  --bg-light: #353535;
  --bg-dark: #082727;
  --paragraph: #CFCFCF;
  --copyright-bg: #082727;
  --copyright-text: #F5F5F5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.6s ease, color 0.6s ease;
}

button {
  cursor: pointer;
}

.inner-container {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

h2 {
  color: #FE758D;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin-bottom: 5rem;
}

body {
  background-color: var(--bg-light);
}

.footer-container .copyright, .footer-container .contact .tel-email div, .footer-container .links div, .hero-container .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  background-color: var(--bg-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-container .inner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}
.hero-container h1 {
  font-family: "Raleway", sans-serif;
  color: #50B8B8;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.hero-container p {
  color: var(--paragraph);
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.hero-container .hero-image img {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
}

button.pink-btn {
  padding: 0.8rem 3rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #F5F5F5;
  background-color: #FE758D;
  border: none;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  transition: background-color 0.6s ease;
  padding: 0.8rem 1rem;
}
.navbar .nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .nav-links button {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: var(--paragraph);
}
.navbar .nav-links button:hover {
  color: #50B8B8;
  transition: color 0.4s ease;
}
.navbar button.pink-btn {
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  font-weight: 500;
  color: #F5F5F5;
}

.about-container {
  background-color: var(--bg-dark);
}
.about-container .about-content {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  gap: 2.5rem 1rem;
  font-family: "Quicksand", sans-serif;
}
.about-container .about-content .about-row {
  display: flex;
  align-items: center;
}
.about-container .about-content .about-row .right-align {
  text-align: right;
}
.about-container .about-content .about-row .about-image {
  display: flex;
  justify-content: center;
}
.about-container .about-content .about-row .about-image img {
  width: 80%;
}
.about-container .about-content .about-row .about-text {
  margin: 0 2rem;
}
.about-container .about-content .about-row h3 {
  color: #378285;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}
.about-container .about-content .about-row p {
  color: var(--paragraph);
  font-size: 1.2rem;
}

.pets-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.card {
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
}
.card a {
  text-decoration: none;
}
.card.female {
  background-color: #fe5c78;
}
.card.male {
  background-color: #45aaaa;
}
.card .card-image img {
  width: 100%;
  height: auto;
}
.card .card-text {
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
}
.card .card-text h3 {
  color: #f8f8f8;
  text-align: left;
  margin-left: 0.3rem;
}
.card .card-text p {
  color: #f8f8f8;
}
.card .pet-breed-age {
  margin: 1rem 0.3rem;
  display: flex;
  justify-content: space-between;
}

.footer-container {
  width: 80%;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  border-radius: 23px 23px 0 0;
  background-color: var(--footer-bg);
  color: var(--bg-light);
}
.footer-container a {
  text-decoration: none;
  color: var(--bg-light);
}
.footer-container .links {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}
.footer-container .links div {
  padding-left: 3rem;
}
.footer-container .links .border-right {
  border-right: 1px solid var(--bg-light);
}
.footer-container .contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.footer-container .contact .socials {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer-container .contact .tel-email {
  display: flex;
  flex-direction: column;
}
.footer-container .contact .tel-email div {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.footer-container .contact .tel-email div a {
  margin-left: 1rem;
}
.footer-container .contact .tel-email a:hover {
  text-decoration: underline;
}
.footer-container .copyright {
  margin-top: 1rem;
  background-color: var(--copyright-bg);
  font-size: 0.7rem;
  padding: 0.5rem 0;
  color: var(--copyright-text);
}

@media (max-width: 650px) {
  .logo img {
    width: 80%;
  }
  .nav-links {
    display: none !important;
  }
  button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .inner-container {
    width: 95%;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero-container .inner-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-container .hero-image {
    width: 50%;
  }
  .hero-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .hero-container p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .about-row {
    margin: 0;
  }
  .about-row .about-text {
    margin: 0.5rem !important;
  }
  .about-row .about-text h3 {
    font-size: 1.2rem !important;
  }
  .about-row .about-text p {
    font-size: 1rem !important;
  }
  .pets-content {
    grid-template-columns: 1fr 1fr;
  }
  .pet-details-container .inner-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .pet-details-container .inner-container .pet-image {
    width: 30%;
  }
  .pet-details-container .inner-container .pet-text h1 {
    color: #50B8B8;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .pet-details-container .inner-container .pet-text h3, .pet-details-container .inner-container .pet-text p {
    font-size: 0.8rem;
  }
  .pet-details-container .inner-container .pet-text button {
    margin: 0;
  }
  .process-item img {
    width: 90% !important;
  }
  .process-item p {
    font-size: 0.8rem !important;
  }
  #adoption-form {
    grid-template-columns: 1fr 1fr !important;
    gap: 0rem !important;
  }
  #adoption-form label {
    font-size: 1rem !important;
  }
  #adoption-form .error {
    font-weight: 500;
    font-size: 0.8rem;
    grid-column: 1/3;
    margin: 0.5rem 0 !important;
    text-align: right;
  }
  #adoption-form button {
    grid-column: 1/3;
  }
  .footer-container {
    width: 100%;
    border-radius: 0;
  }
  .footer-container img {
    width: 50%;
  }
  .footer-container .links {
    font-size: 1rem;
    padding: 2rem 0;
  }
  .footer-container .links div {
    padding: 0;
  }
  .footer-container .links .border-right {
    border: none;
  }
  .footer-container .contact {
    grid-template-columns: 1fr 1fr;
  }
  .footer-container .contact .tel-email div a {
    font-size: 0.8rem;
  }
  .footer-container .contact .tel-email div img {
    width: 10%;
  }
  .footer-container .copyright {
    font-size: 0.5rem;
  }
}
@media (max-width: 650px) {
  .logo img {
    width: 80%;
  }
  .nav-links {
    display: none !important;
  }
  button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .inner-container {
    width: 95%;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero-container .inner-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-container .hero-image {
    width: 50%;
  }
  .hero-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .hero-container p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .about-row {
    margin: 0;
  }
  .about-row .about-text {
    margin: 0.5rem !important;
  }
  .about-row .about-text h3 {
    font-size: 1.2rem !important;
  }
  .about-row .about-text p {
    font-size: 1rem !important;
  }
  .pets-content {
    grid-template-columns: 1fr 1fr;
  }
  .pet-details-container .inner-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .pet-details-container .inner-container .pet-image {
    width: 30%;
  }
  .pet-details-container .inner-container .pet-text h1 {
    color: #50B8B8;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .pet-details-container .inner-container .pet-text h3, .pet-details-container .inner-container .pet-text p {
    font-size: 0.8rem;
  }
  .pet-details-container .inner-container .pet-text button {
    margin: 0;
  }
  .process-item img {
    width: 90% !important;
  }
  .process-item p {
    font-size: 0.8rem !important;
  }
  #adoption-form {
    grid-template-columns: 1fr 1fr !important;
    gap: 0rem !important;
  }
  #adoption-form label {
    font-size: 1rem !important;
  }
  #adoption-form .error {
    font-weight: 500;
    font-size: 0.8rem;
    grid-column: 1/3;
    margin: 0.5rem 0 !important;
    text-align: right;
  }
  #adoption-form button {
    grid-column: 1/3;
  }
  .footer-container {
    width: 100%;
    border-radius: 0;
  }
  .footer-container img {
    width: 50%;
  }
  .footer-container .links {
    font-size: 1rem;
    padding: 2rem 0;
  }
  .footer-container .links div {
    padding: 0;
  }
  .footer-container .links .border-right {
    border: none;
  }
  .footer-container .contact {
    grid-template-columns: 1fr 1fr;
  }
  .footer-container .contact .tel-email div a {
    font-size: 0.8rem;
  }
  .footer-container .contact .tel-email div img {
    width: 10%;
  }
  .footer-container .copyright {
    font-size: 0.5rem;
  }
}
.pet-details-container {
  background-color: var(--bg-light);
  font-family: "Quicksand", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pet-details-container .inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
.pet-details-container .inner-container .pet-text h1 {
  color: #50B8B8;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
}
.pet-details-container .inner-container .pet-text h3, .pet-details-container .inner-container .pet-text p {
  color: var(--paragraph);
  margin: 1rem 0;
}
.pet-details-container .inner-container .pet-text .breed-age {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pet-details-container .inner-container .pet-text button {
  margin: 2rem 0;
}
.pet-details-container .pet-image img {
  width: 80%;
}

@media (max-width: 650px) {
  .logo img {
    width: 80%;
  }
  .nav-links {
    display: none !important;
  }
  button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .inner-container {
    width: 95%;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero-container .inner-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-container .hero-image {
    width: 50%;
  }
  .hero-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .hero-container p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .about-row {
    margin: 0;
  }
  .about-row .about-text {
    margin: 0.5rem !important;
  }
  .about-row .about-text h3 {
    font-size: 1.2rem !important;
  }
  .about-row .about-text p {
    font-size: 1rem !important;
  }
  .pets-content {
    grid-template-columns: 1fr 1fr;
  }
  .pet-details-container .inner-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .pet-details-container .inner-container .pet-image {
    width: 30%;
  }
  .pet-details-container .inner-container .pet-text h1 {
    color: #50B8B8;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .pet-details-container .inner-container .pet-text h3, .pet-details-container .inner-container .pet-text p {
    font-size: 0.8rem;
  }
  .pet-details-container .inner-container .pet-text button {
    margin: 0;
  }
  .process-item img {
    width: 90% !important;
  }
  .process-item p {
    font-size: 0.8rem !important;
  }
  #adoption-form {
    grid-template-columns: 1fr 1fr !important;
    gap: 0rem !important;
  }
  #adoption-form label {
    font-size: 1rem !important;
  }
  #adoption-form .error {
    font-weight: 500;
    font-size: 0.8rem;
    grid-column: 1/3;
    margin: 0.5rem 0 !important;
    text-align: right;
  }
  #adoption-form button {
    grid-column: 1/3;
  }
  .footer-container {
    width: 100%;
    border-radius: 0;
  }
  .footer-container img {
    width: 50%;
  }
  .footer-container .links {
    font-size: 1rem;
    padding: 2rem 0;
  }
  .footer-container .links div {
    padding: 0;
  }
  .footer-container .links .border-right {
    border: none;
  }
  .footer-container .contact {
    grid-template-columns: 1fr 1fr;
  }
  .footer-container .contact .tel-email div a {
    font-size: 0.8rem;
  }
  .footer-container .contact .tel-email div img {
    width: 10%;
  }
  .footer-container .copyright {
    font-size: 0.5rem;
  }
}
.process {
  background-color: var(--bg-dark);
}
.process .process-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.process .process-content .process-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.process .process-content .process-item p {
  font-family: "Quicksand", sans-serif;
  color: var(--paragraph);
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.process .process-content .process-item p a {
  color: #50B8B8;
}
.process .process-content .process-item img {
  width: 50%;
  border-radius: 20px;
  text-align: center;
}

.form-container .inner-container {
  background-color: var(--bg-dark);
  padding: 4rem 2rem;
  margin: 5rem auto;
}
.form-container .inner-container #adoption-form {
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 2rem;
}
.form-container .inner-container #adoption-form label {
  color: var(--paragraph);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
.form-container .inner-container #adoption-form input {
  font-family: "Quicksand", sans-serif;
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
}
.form-container .inner-container #adoption-form .error {
  color: rgb(245, 112, 112);
  font-weight: 600;
  opacity: 0;
}
.form-container .inner-container #adoption-form button:disabled {
  background-color: var(--paragraph);
}

@media (max-width: 650px) {
  .logo img {
    width: 80%;
  }
  .nav-links {
    display: none !important;
  }
  button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  .inner-container {
    width: 95%;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero-container .inner-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-container .hero-image {
    width: 50%;
  }
  .hero-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .hero-container p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .about-row {
    margin: 0;
  }
  .about-row .about-text {
    margin: 0.5rem !important;
  }
  .about-row .about-text h3 {
    font-size: 1.2rem !important;
  }
  .about-row .about-text p {
    font-size: 1rem !important;
  }
  .pets-content {
    grid-template-columns: 1fr 1fr;
  }
  .pet-details-container .inner-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .pet-details-container .inner-container .pet-image {
    width: 30%;
  }
  .pet-details-container .inner-container .pet-text h1 {
    color: #50B8B8;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .pet-details-container .inner-container .pet-text h3, .pet-details-container .inner-container .pet-text p {
    font-size: 0.8rem;
  }
  .pet-details-container .inner-container .pet-text button {
    margin: 0;
  }
  .process-item img {
    width: 90% !important;
  }
  .process-item p {
    font-size: 0.8rem !important;
  }
  #adoption-form {
    grid-template-columns: 1fr 1fr !important;
    gap: 0rem !important;
  }
  #adoption-form label {
    font-size: 1rem !important;
  }
  #adoption-form .error {
    font-weight: 500;
    font-size: 0.8rem;
    grid-column: 1/3;
    margin: 0.5rem 0 !important;
    text-align: right;
  }
  #adoption-form button {
    grid-column: 1/3;
  }
  .footer-container {
    width: 100%;
    border-radius: 0;
  }
  .footer-container img {
    width: 50%;
  }
  .footer-container .links {
    font-size: 1rem;
    padding: 2rem 0;
  }
  .footer-container .links div {
    padding: 0;
  }
  .footer-container .links .border-right {
    border: none;
  }
  .footer-container .contact {
    grid-template-columns: 1fr 1fr;
  }
  .footer-container .contact .tel-email div a {
    font-size: 0.8rem;
  }
  .footer-container .contact .tel-email div img {
    width: 10%;
  }
  .footer-container .copyright {
    font-size: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */